.header {

    align-items: center;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 48px;
    left:0;
    right:0;
    top:0;
    z-index: 10;

    @include shadow-standard;


    .logo {

        align-items: center;
        background-color: $c-white;
        border: none;
        display: flex;
        margin: 0 0 0 24px;

        @include MQ(M) {

          margin-left: 48px;
          margin-bottom: 6px;
          position: relative;
        }

        img {

            height: 16px;

            @include MQ(M) {

                display: block;
                height: 24px;
                width: 120px;
            }
        }
    }

    .right  {

        display: flex;
        align-items: center;

        .lang {

            align-items: center;
            border: none;
            display: flex;
            padding: 16px;

            @include MQ(M) { margin-right: 16px; }

            img { width: 24px; }
        }
    }

    .cta {

        background-color: $c-secondary;
        color: $c-white;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;

        position: fixed;
        bottom: 30px;
        left: 0;
        right: 0;
        padding: 12px 0;
        text-align: center;

        &:hover {

            @include MQ(M) { background-color: $c-primary; }
        }

        @include MQ(M) {

            align-items: center;
            display: flex;
            height: 48px;
            padding: 0 48px;
            position: static;

            @include transition;
        }
    }
}
