.hero {

    &.client {

        background: linear-gradient(180deg, $c-primary__dark 0%, $c-primary 100%);
        display: flex;
        flex-direction: column;
        height: calc(100vh - 48px);
        position: relative;
        width: 100vw;

        .content {

            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            h1,
            p {

                color: $c-white;
                text-align: center;
                max-width: 600px;
            }

            h2 {

                color: transparent;
                position: absolute;
                z-index: -2;
            }
        }

        .image {

            display: flex;
            flex: 1;
            overflow: hidden;
            position: relative;

            img {

                @include center(x);

                width: 100%;

                &.mobile {

                    @include MQ(M) { display: none; }

                    top: 0;
                }

                &.desktop {

                    @include MQ(M) { display: block; }

                    bottom: 0;
                    display: none;
                    max-width: 600px;
                    top: auto;

                    //@include MQ(L) { max-width: 700px; }
                    @include MQ(XL) { max-width: 800px; }
                    @include MQ(XXL) { max-width: 900px; }
                }
            }
        }
    }
}

.broomer {

    .hero {

        background-image: url('../img/house.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100vw;

        @include MQ(M) { height: calc(100vh - 48px); }

        &:after {

            content: "";
            background-image: linear-gradient(to top right, rgba($c-white, 1) 30%,  rgba($c-white, 0));
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }

        .hero-wrapper {

            display: flex;
            flex-direction: column;
            max-width: 1200px;

            @include MQ(M) {

                align-items: center;
                flex-direction: row;
                margin: auto;
            }
        }

        .content {

            align-items: flex-start;
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 0 2rem;

            h1,
            p {

                color: $c-black;
                text-align: left;
                max-width: 400px;
                position: relative;
                z-index: 2;
            }

            h1 { margin-bottom: 2rem;}
        }

        .broomer-contact-form .content {

            align-items: center;
            @include MQ(M) { padding: 3rem }
        }
    }
}
