.locations {

    background: linear-gradient(180deg, $c-primary__dark 0%, $c-primary 100%);

    .cities {

        display: flex;
        margin: auto;
        max-width: 480px;

        .location {

            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }
    }

    h2,
    h4 { color: white; }
}
