.locations {

    margin-bottom: 4rem;

    .cities {

        display: flex;

        .location {

            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }
    }
}
