.wrapper {

    margin-top: 48px;

    section {

        padding: 8rem 1rem 0 1rem;

        &.hero {

            padding: 7rem 0 0 0;
            &.broomer { padding-top: 4rem; }
        }


        &.locations,
        &.reasons { padding-bottom: 8rem; }
    }

    .footer {
        display: flex;
        font-size: 12px;
        justify-content: center;
        padding: 8px 0;

        a {

            margin-left: 4px;
            text-decoration: underline;
        }
    }
}
