.wrapper {

    margin: 48px 0 70px;
    width: 100vw;
    @include MQ(M) { margin-bottom: 0; }

    &.broomer {

      margin-bottom: 30px;
      @include MQ(M) { margin-bottom: 0; }
    }

    section {

        padding: 8rem 1rem 0 1rem;

        &.hero { padding: 4rem 0 0 0; }

        &.locations { padding: 5rem 0 0; }

        &.reasons,
        &.join { padding-bottom: 8rem; }
    }

    .footer {

        background-color: $c-primary;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        display: flex;
        font-size: 12px;
        justify-content: center;
        padding: 8px 0;

        @include MQ(M) { position: static; }

        a {

            color: $c-white;
            margin-left: 4px;
            text-decoration: underline;
        }
    }
}
