.reasons {

    padding: 6rem 1rem 2rem 1rem;

    .content {

        display: flex;
        flex-direction: column;

        @include MQ(M) {

            flex-direction: row;
            flex-wrap: wrap;
        }

        @include MQ(L) { flex-wrap: nowrap; }

        .reason {

            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            padding: 0 3rem;

            .reason-icon {

                align-items: center;
                display: flex;
                height: 48px;
                justify-content: center;
                margin-bottom: 1rem;
                width: 80px;
            }

            h3,
            p {
                margin-bottom: 1rem;
                text-align: center;
            }

            @include MQ(M) {

                justify-content: flex-start;
                width: 50%;
            }

            @include MQ(L) { width: 25%; }
        }
    }
}
