// colors

$c-primary: #439417;
$c-primary__dark: #145D08;

$c-black: #222;
$c-lightgrey: #eee;
$c-white: #fff;

$c-secondary: #D98324;
$c-secondary__dark: #A40606;


// fonts

$primary-font: Helvetica, Arial, sans-serif;


// breakpoints

// will not use these

$M: 768px;
$L: 1024px;
$XL: 1400px;
$XXL: 1600px;
