.last {

    display: flex;
    flex-direction: column;
    padding: 6rem 1rem 2rem 1rem;

    @include MQ(L) { flex-direction: row; }

    .contact {

        flex: 1;
        padding-top: 6rem;

        @include MQ(L) { padding-top: 0; }
    }

    .locations {

        flex: 1;
    }
}
