.reasons {

    padding: 6rem 1rem 2rem 1rem;

    .content {

        display: flex;
        flex-direction: column;

        @include MQ(M) {

            flex-direction: row;
            flex-wrap: wrap;
        }

        @include MQ(L) { flex-wrap: nowrap; }

        .reason {

            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            h2,
            p { text-align: left; }

            @include MQ(M) {

                justify-content: flex-start;
                width: 50%;
            }

            @include MQ(L) { width: 25%; }
        }
    }
}
