.steps {

    display: flex;
    flex-direction: column;
    padding: 6rem 1rem 2rem 1rem;

    @include MQ(M) { flex-direction: row; }

    .step {

        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        h2,
        p { text-align: left; }

        @include MQ(M) {

            justify-content: flex-start;
            padding: 0 1rem;
        }
    }
}
