.hero {

    background-image: url('../img/house.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;

    @include MQ(M) { height: 100vh; }

    &:after {

        content: "";
        background-image: linear-gradient(to top right, rgba($c-white, 1) 30%,  rgba($c-white, 0));
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    .wrapper {

        display: flex;
        flex-direction: column;
        max-width: 1200px;

        @include MQ(M) {

            align-items: center;
            flex-direction: row;
            margin: auto;
        }
    }

    .content {

        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 2rem;

        h1,
        p {

            color: $c-black;
            text-align: left;
            max-width: 400px;
            position: relative;
            z-index: 2;
        }

        h1 { margin-bottom: 2rem;}
    }
}
